
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/gl3w"]
	path = ext/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "ext/implot"]
	path = ext/implot
	url = https://github.com/epezent/implot.git
[submodule "docs/docs/recastx-docs-supplement"]
	path = docs/docs/recastx-docs-supplement
	url = https://github.com/zhujun98/recastx-docs-supplement.git
